<header>
    <!-- <img src="../../public/img 1440p.png" alt="img de fond"> -->
     <!-- ATTENTION le nom de fichier de la photo n'est pas exploitable car il y a un espace => utiliser le ionis -->
    <h1> MARMIPLON </h1>
    <button> Acceuil </button>
</header>