<%- include("../partials/head", {title: "Marmiton"}) %>
<%- include("../partials/header") %>

<main>

    <div>
        <h2>Entree</h2>
        <img src="" alt="">
    </div>
    <div>
        <h2>Plat principal</h2>
        <img src="" alt="">
    </div>
    <div>
        <h2>Dessert</h2>
        <img src="" alt="">
    </div>

</main>

<%- include ("../partials/footer") %>