<%- include("../partials/head", {title: "Marmiton"}) %>
<%- include("../partials/header") %>

<main>
    <h2> Liste des <!--Categories--> </h2>

    <!-- vu avec Kev ! NE PAS TOUCHER SVP !!!!! -->
    <a href="/starter" class="starters">Entrées</a>
    <a href="/main_course" class="courses">Plats Principaux</a>
    <a href="/dessert" class="desserts">Desserts</a>

    <!-- <button class="desserts">Desserts</button>   => Ne pas utiliser car on veut des chemins donc des ancres-->

</main>

<%- include ("../partials/footer") %>