<%- include("../partials/head", {title: "Marmiton"}) %>
<%- include("../partials/header") %>

<main>
    <h2>Cliquez sur une de nos catégories de plat afin de découvrir pour chacune la liste des recettes que nous vous proposons.</h2>
    
    <div class="categorieshome">
    <!-- vu avec Kev ! NE PAS TOUCHER SVP !!!!! -->
    <a href="/starter" class="starters">
        <span>Entrées</span>
        <img class="img"> </img>
    </a>  
    <a href="/main" class="courses">
        <span>Plats Principaux</span>
        <img class="img"> </img>
    </a>
    <a href="/dessert" class="desserts">
        <span>Desserts</span>
        <img class="img"> </img>
    </a>

    <!-- <button class="desserts">Desserts</button>   => Ne pas utiliser car on veut des chemins donc des ancres-->
    </div>

</main>

<%- include ("../partials/footer") %>